<br>awesome (from suvey.hbs)!
<ul>

  {{#each model as |question|}}
    <li>

        {{component question.type model=question}}

    </li>
      {{/each}}

</ul>


{{input type="text" placeholder="Name" value=newName action="addName"}}
<br>
<!--
  {{#radio-button
  name="mybutton"
  value="green"}}
  Yellow
  {{/radio-button}}


  {{#radio-button
  name="mybutton"
  value="blue"}}
  Blue
  {{/radio-button}}
-->
