<br>awesome (from suvey.hbs)!
<ul>

  {{#each model as |question|}}
    <li>

        {{component question.type model=question}}

    </li>
      {{/each}}

</ul>


{{input type="text" placeholder="Name" value=newName action="addName"}}
